<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="static/script.js" type="text/javascript"></script>
    <link href="static/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <h1>STACK TRACK</h1>
    <div class="content">
        <section>
            <h2>LATEST QUESTIONS</h2>
            <div class="loader"></div>
            <canvas id="questionsBar"></canvas>
            <canvas id="questionsPie"></canvas>
        </section>
        <section>
            <h2>LATEST JOBS</h2>
            <div class="loader"></div>
            <canvas id="jobsBar"></canvas>
            <canvas id="jobsPie"></canvas>
        </section>
        <section>
            <h2>LATEST JOBS (POLAND)</h2>
            <div class="loader"></div>
            <canvas id="jobsPolandBar"></canvas>
            <canvas id="jobsPolandPie"></canvas>
        </section>
    </div>
</body>
</html>
